ul {
     display: flex;  
    flex-direction: row; 
    align-items: center;
    justify-content: space-evenly;
    }
a {
    font-size: 1.5rem;
     font-family: 'Titillium Web', sans-serif;
}


i {
    padding-top: 5px;
}

.bgmain {
    position: relative;
z-index: 1;
 margin-left: -28px;
}
.maindc {
    display: flex;
   z-index: 3;

}


.column {
    width: 50%;
    padding-left: 2vw;
}
.columns {
    width: 100vw;
    padding-top: 30vh;
    position: absolute;
    
}

 .designerprops {
text-align: left;

 }
 
  .coderprops {
  
text-align: right;
 }    
        
  
    h1 {
        color: #66fcf1;
        font-size: 6rem;
    }
    p {
        color: #c5c6c7;
    }
    .navbar-item {
        color: #66fcf1;
    }

    .navbar {
        background-color: #0b0c10;
    }



.bgimg{
    background: linear-gradient(90deg, #1f2833 50%, #ffffff 50%);
    padding: 0;
}


body::-webkit-scrollbar {
  width: 3px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #0b0c10;
  outline: 1px solid slategrey;
}

.textboxstyle {
    width: 30%;
}

.alterBG {
    background-color: #1f2833;
}


